.header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 0;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1rem;

    .branding {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav {
      display: flex;
      gap: 1rem;
  
      .nav-link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}
