.header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 0;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1rem;

    .branding {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav {
      display: flex;
      gap: 1rem;
  
      .nav-link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

/* Media queries */
@media (max-width: 599px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .nav {
      flex-direction: column;
      gap: 0.5rem;
    }

    .branding {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .header-container {
    padding: 0 0.5rem;
  }
}