<header class="app-header">
    <div class="left-section">
        <button class="hamburger" [class.open]="menuOpen" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <h1>Product</h1>
    </div>

    <nav [class.mobile-open]="menuOpen" [class.mobile-collapsed]="!menuOpen" class="nav-links">
        <a [routerLink]="['/']" fragment="add-section">Add Product</a>
        <a [routerLink]="['/']" fragment="list-section">Products</a>
    </nav>
</header>