:root {
  --primary-color: #665ef6;
  --secondary-color: #f3f4f6;
  --accent-color: #fbbf24;
  --text-color: #111827;
  --bg-color: #ffffff;
  --card-bg-color: #f9fafb;
  --border-radius: 8px;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

$breakpoint-mobile: 599px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;