@import 'variables';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;           
  padding: 1rem;
  display: flex;
  justify-content: center;


  @media (max-width: $breakpoint-mobile) {
    padding: 1rem 0;
  }
}
